{{!-- <section class="card">
  <a href="/painting/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>By: {{artist}}</p>
    </div>
  </a>
</section> --}}

<section class="card">
  <ul>
    <li><a href="http://www.southerngristbrewing.com">Southern Grist Brewing Company</a> - 1201 Porter Rd</li>
    <li><a href="http://www.southerngristbrewing.com">Southern Grist Brewing Company</a> - 1201 Porter Rd</li>
    <li><a href="http://www.southerngristbrewing.com">Southern Grist Brewing Company</a> - 1201 Porter Rd</li>
    <li><a href="http://www.southerngristbrewing.com">Southern Grist Brewing Company</a> - 1201 Porter Rd</li>
    <li><a href="http://www.southerngristbrewing.com">Southern Grist Brewing Company</a> - 1201 Porter Rd</li>
  </ul>
</section>

