{{!-- <section class="card">
  <a href="/painting/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>By: {{artist}}</p>
    </div>
  </a>
</section> --}}

<section class="card">
  <ul>
    <li><a href="http://www.southerngristbrewing.com">Southern Grist Brewing Company</a> - 1201 Porter Rd</li>
    <li><a href="http://www.southerngristbrewing.com">Southern Grist Brewing Company</a> - 1201 Porter Rd</li>
    <li><a href="http://www.southerngristbrewing.com">Southern Grist Brewing Company</a> - 1201 Porter Rd</li>
    <li><a href="http://www.southerngristbrewing.com">Southern Grist Brewing Company</a> - 1201 Porter Rd</li>
    <li><a href="http://www.southerngristbrewing.com">Southern Grist Brewing Company</a> - 1201 Porter Rd</li>
  </ul>
</section>

{{!-- BREWERY LOCATION FROM GIGPUB 1.0 --}}
{{!-- <!-- Event location div -->
      <div
        class="bg-fuchsia-400 border-2 rounded-lg overflow-hidden transition-all duration-500 max-h-0 peer-checked:max-h-40 event">
        <p class="venue-name text-slate-800 text-lg font-semibold"></p>

        <!-- Trigger/Open the Modal -->
        <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-hover-purple w3-round-large">See Breweries</button>

        <!-- The Modal -->
        <div id="id01" class="w3-modal">
          <div class="w3-modal-content w3-animate-opacity w3-round-large">
            <div class="w3-container">
              <span onclick="document.getElementById('id01').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>

              <p></p>
            </div>
          </div>
        </div>
      </div> --}}