<section class="card">
  <a href="/painting/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>By: {{artist}}</p>
    </div>
  </a>
</section>

<section class="card">
  <h3>Comments</h3>
  <div>
    <img src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png" class="" data-src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png">
    <span>user</span>
    <br>
    <span>High quality item, super cheap</span>
  </div>
    <div>
    <img src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png" class="" data-src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png">
    <span>edward v.</span>
    <br>
    <span>High quality item, super cheap</span>
  </div>
    <div>
    <img src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png" class="" data-src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png">
    <span>edward v.</span>
    <br>
    <span>High quality item, super cheap</span>
  </div>
  <form>
    <label for="comment">Comment:</label><br>
    <textarea id="comment" name="comment" rows="4" cols="50"></textarea><br><br>
    <input type="submit" value="Submit">
  </form>
</section>

