{{> search }}

{{#each events}}
<section class="card bg-white" data-eventid="{{this.id}}">
  <h2>{{this.name}}<span>{{this.date}}</span></h2>

  {{#each this._embedded.venues}}
  <h2 class="venue" data-venueId="{{this.id}}">{{this.name}}</h2>
  {{/each}}

  <button>See More Details</button>
  <a href="{{this.link}}">Link to ticketmaster event page</a>
  <button class="breweries-button">See Local Breweries</button>
  <section class="card">
    <ul>
    {{#each this.breweries as |brewery|}}
      <li><a href="{{brewery.link}}">{{brewery.name}}</a> - {{brewery.address}}</li>
    {{/each}}
    </ul>
  </section>
  <button class="comments-button">See Comments</button>
  <section class="comments-card">
    <h3 class="reviews-container" style="display: none;">Comments</h3>
    {{#each this.comments as |comment|}}
    <div>
      {{!-- <img src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png" class="" data-src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png"> --}}
      <span>{{comment.user}}</span>
      <br>
      <span>{{comment.text}}</span>
    </div>
    {{/each}}
    <form class="newreview-form">
      <label for="newreview-text">Comment:</label><br>
      <textarea class="newreview-text" name="newreview-text" rows="4" cols="50"></textarea><br><br>
      
      <label for="newreview-stars">Stars:</label>
      <select class="newreview-stars">
        <option value="1">*</option>
        <option value="2">**</option>
        <option value="3">***</option>
        <option value="4">****</option>
        <option value="5">*****</option>
      </select>

      <label for="newreview-venueId">Venue ID:</label><br>
      <input type="" id="newreview-venueId" />

      <button type="submit">Add Review</button>
    </form>
  </section>
</section>
{{/each}}

<script src="/js/reviews.js"></script>